<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= "%s (%s)" % [@portfolio.label, @portfolio.name] %>
</p>

<h1>Positions</h1>
<% unless @watched_positions.empty? %>
<%= render 'performances/relative_positions', positions: @watched_positions %>
<% else %>
<% end %>

<!--table id="portfolio-positions" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Security</th>
    <th>Shares</th>
    <th>Asof</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'positions/show', :collection => @portfolio.positions, :as => :position %>
  </tbody>
</table-->

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Performance', performance_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
